@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$title-font: "Montserrat", sans-serif;
$text-font: "Open Sans", serif;

$light-title-color: #00e5fc;
$light-main-color: #2222ff;
$alt-color: rgb(29, 12, 105);

$dark-main-color: #333;
$dark-title-color: #888;


body {
    background-color: #fff;
    margin: 0;
}


%button {
    color: white;
    border: {
        style: solid;
        width: 2px;
        radius: 25px;
    }
    padding: 12px;
    text-decoration: none;
    font: {
        family: $text-font;
        size: 1.1em;
        weight: bold;
    }
    &:hover {
        background-color: white;
        border-color: white;
        color: rgb(29, 12, 105);
        transition: .5s;
    }
}

#website-settings {
    background-color: $light-main-color;
    padding: 5px 0 0 0;
    display: flex;
    
    div#theme-toggle {
        width: 25px;
        margin: auto;
        text-align: center;
        cursor: pointer;
    }

    &.dark-theme {
        background-color: $dark-main-color;
    }
}


header {
    background-color: $light-main-color;
    padding-bottom: 30px;
    &.dark-theme {
        background-color: $dark-main-color;
    }

    div {
        display: flex;
        flex-direction: row;

        nav#brand {
            margin-right: -130px;
        }
        nav {
            margin: auto;
            ul {
                list-style: none;
                padding: 0;
                margin: 0 2px;
    
                li {
                    display: inline-block;
                    margin: auto 5px;
    
                    a {
                        text-decoration: none;
                        padding: 7px;
                        color: white;
                        
                        font: {
                            family: $text-font;
                            weight: bold;
                        }
                        &:hover {
                            color: $light-title-color;
                            text-decoration: 2px underline wavy;
                            transition: .3s;
                            &.dark-theme {
                                color: $dark-title-color;
                            }
                        }
                    }
                    .dropdown {
                        position: relative;
                        display: block;
                        &:hover .dropdown-content {
                            display: block;
                        }
    
                        a.button {
                            @extend %button;
                            &:hover {
                                text-decoration: none;
                                transition: 0s;
                            }
        
                        }
    
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #ecebebc7;
                            min-width: 25px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                            margin-top: 15px;
                            border-radius: 20px;
                            right: 0;
                        }
                        .dropdown-content a {
                            color: #1d0c69;
                            padding: 12px 16px;
                            text-decoration: none;
                            border-radius: 20px;
                            display: block;
    
                            &:hover {
                                background-color: #f1f1f1a6;
                            }
                        }
                    }
    
                }
            }
        }
        
        #right-nav {
            text-align: right;
        }
    }
}

#container {
    display: grid;
    grid-template-columns: 350px auto;
    //width: 1150px;
    margin: auto;
    //border: solid black;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 200px;
    padding: 0 120px;
    background-color: $light-main-color;
    &.dark-theme {
        background-color: $dark-main-color;
    }
   
    section {
        margin: 5px;
        
        figure {
            background-color: $light-title-color;
            margin: 20px 0;
            width: 300px;
            padding: 0 20px;
            border-radius: 50px;

            img {
                width: 100%;
                padding: 0;
                margin: 0;
                position: relative;
            }
            figcaption {
                display: none;
            }
            &.dark-theme {
                background-color: $dark-title-color;
            }
        }

        article {   
            padding: 20px 0 10px 100px;
            
            .mobile-figure {
                display: none;
            }
            h2 {
                font: {
                    family: $text-font;
                    size: 3em;
                }
                margin: 0;
                color: rgb(29, 12, 105);
                span {
                    text-decoration: underline;
                }
                &.dark-theme {
                    color: $dark-title-color;
                }
            }
            h1 {
                font: {
                    family: $title-font;
                    size: 5em;
                    weight: 700;
                }
                color: $light-title-color;
                margin: 0;
                &.dark-theme {
                    color: #cfcfcf;
                }
            }
            p {
                color: white;
                font: {
                    family: $text-font;
                    size: 1.3em;
                }
                margin-top: 10px;
                strong {
                    color: $light-title-color;
                    &.dark-theme {
                        color: $dark-title-color;
                    }
                }
            }
            div {
                margin-top: 30px;

                a {
                    @extend %button;
                    &.dark-theme {
                        color: white;
                        &:hover {
                            background-color: white;
                            color: $dark-main-color;
                        }
                    }
                }
            }
        }
    }
    
}

footer {
    color: white;
    font-family: $text-font;
    p {
        font-size: 9pt;
        margin: 0;
    }
    a {
        color: black;
    }
}

//############# Media Queries ###############
@media (max-width: 768px) {
    #brand {
        width: 100%;
        padding: 10px 0 10px 0;
        margin: 0;
        background-color: $alt-color;
        //position: fixed;
        &.dark-theme {
            background-color: #222;
        }
        ul li a::after {
            //content: " - Web Developer";
        }
    }
    .fixed {
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .menu {
        background-color: $alt-color;
        max-height: 0;
        overflow: hidden;
        transition: max-height .6s ease-in-out;
        &:nth-child(2) {
            padding-top: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        &.active {
            max-height: 500px;
        }
        &.dark-theme {
            background-color: #222;
        }
    }
    #right-nav {
        ul {
            padding-top: 10px;
            text-align: left; 
            padding-bottom: 25px;
            li .dropdown {
                margin-top: 20px; 
                text-align: right; 
                .dropdown-content {
                    position: fixed;
                }
                
            }
        }
    }
    header div {
        display: block;
    }
    #website-settings {
        background-color: $alt-color;
        z-index: 1000;
        width: 100%;
        div#theme-toggle {
            margin-left: 15px;
        }
        
        div#hamburguer {
            margin-right: 15px;
            margin-top: 3px;
            width: 30px;
            height: 21px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
        
            .line {
                width: 100%;
                height: 3px;
                background-color: #fff;
                transition: rotate .6s ease-in-out;

                &.active {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        rotate: -45deg;
                        margin-top: 15px;
                        
                    }
                    &:nth-child(3) {
                        rotate: 45deg;
                    }
                }
            }
        }
        &.dark-theme {
            background-color: #222;
        }
    }

    #container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 50px 0;
        margin: 0;
        text-align: center;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 50px;
        
        .section1 { 
            display: none;
        }

        section {
            padding: 0;
             article {
                 margin: 0;
                 padding: 0;
                 
                 .mobile-figure {
                     display: block;
                     margin: 20px auto;
                     width: 250px;
                 }
                 h2 {
                    font-size: 1.6em;
                 }
                 h1 {
                    margin-top: 20px;
                    margin-bottom: 30px;
                    font-size: 2em;
                 }
                 p {
                    font-size: 1.2em;
                    padding: 15px;
                    background-color: $alt-color;
                    border-radius: 20px;
                    margin: 0 20px;

                    &.dark-theme {
                        background-color: #222;
                    }
                 }
             }
         }
    }
    
}