@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: #2222ff;
}

#container section article div a, header nav ul li .dropdown a.button {
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  padding: 12px;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 1.1em;
  font-weight: bold;
}
#container section article div a:hover, header nav ul li .dropdown a.button:hover {
  background-color: white;
  border-color: white;
  color: rgb(29, 12, 105);
  transition: 0.5s;
}

header {
  width: 1150px;
  height: 50px;
  margin: 20px auto 5px auto;
  display: grid;
  grid-template-columns: auto auto;
}
header nav ul {
  list-style: none;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin: auto 5px;
}
header nav ul li a {
  text-decoration: none;
  padding: 7px;
  color: white;
  font-family: "Open Sans", serif;
  font-weight: bold;
}
header nav ul li a:hover {
  color: #00e5fc;
  text-decoration: 2px underline wavy;
  transition: 0.3s;
}
header nav ul li .dropdown {
  position: relative;
  display: block;
}
header nav ul li .dropdown:hover .dropdown-content {
  display: block;
}
header nav ul li .dropdown a.button:hover {
  text-decoration: none;
  transition: 0s;
}
header nav ul li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(249, 249, 249, 0.5411764706);
  min-width: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 15px;
  border-radius: 20px;
  right: 0;
}
header nav ul li .dropdown .dropdown-content a {
  color: #1d0c69;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 20px;
  display: block;
}
header nav ul li .dropdown .dropdown-content a:hover {
  background-color: rgba(241, 241, 241, 0.6509803922);
}
header #right-nav {
  text-align: right;
}

#container {
  display: grid;
  grid-template-columns: 350px auto;
  width: 1150px;
  margin: auto;
}
#container section {
  margin: 5px;
}
#container section figure {
  background-color: #00e5fc;
  margin: 20px 0;
  width: 300px;
  padding: 0 20px;
  border-radius: 50px;
}
#container section figure img {
  width: 100%;
  padding: 0px;
  margin: 0;
  position: relative;
}
#container section article {
  padding: 20px 0 10px 100px;
}
#container section article h2 {
  font-family: "Open Sans", serif;
  font-size: 3em;
  margin: 0;
  color: rgb(29, 12, 105);
}
#container section article h2 span {
  text-decoration: underline;
}
#container section article h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  color: #00e5fc;
  margin: 0;
}
#container section article p {
  color: white;
  font-family: "Open Sans", serif;
  font-size: 1.3em;
  margin-top: 10px;
}
#container section article p strong {
  color: #00e5fc;
}
#container section article div {
  margin-top: 30px;
}
footer {
  color: white;
  font-family: "Open Sans", serif;
}
footer p {
  font-size: 9pt;
  margin: 0;
}
footer a {
  color: black;
}

/*# sourceMappingURL=style.css.map */
