@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: #fff;
  margin: 0;
}

#container section article div a, header div nav ul li .dropdown a.button {
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  padding: 12px;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 1.1em;
  font-weight: bold;
}
#container section article div a:hover, header div nav ul li .dropdown a.button:hover {
  background-color: white;
  border-color: white;
  color: rgb(29, 12, 105);
  transition: 0.5s;
}

#website-settings {
  background-color: #2222ff;
  padding: 5px 0 0 0;
  display: flex;
}
#website-settings div#theme-toggle {
  width: 25px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
#website-settings.dark-theme {
  background-color: #333;
}

header {
  background-color: #2222ff;
  padding-bottom: 30px;
}
header.dark-theme {
  background-color: #333;
}
header div {
  display: flex;
  flex-direction: row;
}
header div nav#brand {
  margin-right: -130px;
}
header div nav {
  margin: auto;
}
header div nav ul {
  list-style: none;
  padding: 0;
  margin: 0 2px;
}
header div nav ul li {
  display: inline-block;
  margin: auto 5px;
}
header div nav ul li a {
  text-decoration: none;
  padding: 7px;
  color: white;
  font-family: "Open Sans", serif;
  font-weight: bold;
}
header div nav ul li a:hover {
  color: #00e5fc;
  text-decoration: 2px underline wavy;
  transition: 0.3s;
}
header div nav ul li a:hover.dark-theme {
  color: #888;
}
header div nav ul li .dropdown {
  position: relative;
  display: block;
}
header div nav ul li .dropdown:hover .dropdown-content {
  display: block;
}
header div nav ul li .dropdown a.button:hover {
  text-decoration: none;
  transition: 0s;
}
header div nav ul li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(236, 235, 235, 0.7803921569);
  min-width: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 15px;
  border-radius: 20px;
  right: 0;
}
header div nav ul li .dropdown .dropdown-content a {
  color: #1d0c69;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 20px;
  display: block;
}
header div nav ul li .dropdown .dropdown-content a:hover {
  background-color: rgba(241, 241, 241, 0.6509803922);
}
header div #right-nav {
  text-align: right;
}

#container {
  display: grid;
  grid-template-columns: 350px auto;
  margin: auto;
  border-bottom-left-radius: 600px;
  border-bottom-right-radius: 200px;
  padding: 0 120px;
  background-color: #2222ff;
}
#container.dark-theme {
  background-color: #333;
}
#container section {
  margin: 5px;
}
#container section figure {
  background-color: #00e5fc;
  margin: 20px 0;
  width: 300px;
  padding: 0 20px;
  border-radius: 50px;
}
#container section figure img {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
#container section figure figcaption {
  display: none;
}
#container section figure.dark-theme {
  background-color: #888;
}
#container section article {
  padding: 20px 0 10px 100px;
}
#container section article .mobile-figure {
  display: none;
}
#container section article h2 {
  font-family: "Open Sans", serif;
  font-size: 3em;
  margin: 0;
  color: rgb(29, 12, 105);
}
#container section article h2 span {
  text-decoration: underline;
}
#container section article h2.dark-theme {
  color: #888;
}
#container section article h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  font-weight: 700;
  color: #00e5fc;
  margin: 0;
}
#container section article h1.dark-theme {
  color: #cfcfcf;
}
#container section article p {
  color: white;
  font-family: "Open Sans", serif;
  font-size: 1.3em;
  margin-top: 10px;
}
#container section article p strong {
  color: #00e5fc;
}
#container section article p strong.dark-theme {
  color: #888;
}
#container section article div {
  margin-top: 30px;
}
#container section article div a.dark-theme {
  color: white;
}
#container section article div a.dark-theme:hover {
  background-color: white;
  color: #333;
}

footer {
  color: white;
  font-family: "Open Sans", serif;
}
footer p {
  font-size: 9pt;
  margin: 0;
}
footer a {
  color: black;
}

@media (max-width: 768px) {
  #brand {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: rgb(29, 12, 105);
  }
  #brand.dark-theme {
    background-color: #222;
  }
  .fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .menu {
    background-color: rgb(29, 12, 105);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
  }
  .menu:nth-child(2) {
    padding-top: 10px;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .menu.active {
    max-height: 500px;
  }
  .menu.dark-theme {
    background-color: #222;
  }
  #right-nav ul {
    padding-top: 10px;
    text-align: left;
    padding-bottom: 25px;
  }
  #right-nav ul li .dropdown {
    margin-top: 20px;
    text-align: right;
  }
  #right-nav ul li .dropdown .dropdown-content {
    position: fixed;
  }
  header div {
    display: block;
  }
  #website-settings {
    background-color: rgb(29, 12, 105);
    z-index: 1000;
    width: 100%;
  }
  #website-settings div#theme-toggle {
    margin-left: 15px;
  }
  #website-settings div#hamburguer {
    margin-right: 15px;
    margin-top: 3px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  #website-settings div#hamburguer .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: rotate 0.6s ease-in-out;
  }
  #website-settings div#hamburguer .line.active:nth-child(1) {
    display: none;
  }
  #website-settings div#hamburguer .line.active:nth-child(2) {
    rotate: -45deg;
    margin-top: 15px;
  }
  #website-settings div#hamburguer .line.active:nth-child(3) {
    rotate: 45deg;
  }
  #website-settings.dark-theme {
    background-color: #222;
  }
  #container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 50px;
  }
  #container .section1 {
    display: none;
  }
  #container section {
    padding: 0;
  }
  #container section article {
    margin: 0;
    padding: 0;
  }
  #container section article .mobile-figure {
    display: block;
    margin: 20px auto;
    width: 250px;
  }
  #container section article h2 {
    font-size: 1.6em;
  }
  #container section article h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2em;
  }
  #container section article p {
    font-size: 1.2em;
    padding: 15px;
    background-color: rgb(29, 12, 105);
    border-radius: 20px;
    margin: 0 20px;
  }
  #container section article p.dark-theme {
    background-color: #222;
  }
}

/*# sourceMappingURL=style.css.map */
